<?xml version="1.0" ?>
<robot name="low-cost-arm">
  <material name="silver">
    <color rgba="0.700 0.700 0.700 1.000"/>
  </material>

  <transmission name="Revolute 2_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Revolute 2">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="Revolute 2_actr">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="Revolute 3_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Revolute 3">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="Revolute 3_actr">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="Revolute 4_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Revolute 4">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="Revolute 4_actr">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="Revolute 5_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Revolute 5">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="Revolute 5_actr">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="Revolute 6_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Revolute 6">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="Revolute 6_actr">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="Revolute 7_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Revolute 7">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="Revolute 7_actr">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <gazebo>
    <plugin filename="libgazebo_ros_control.so" name="control"/>
  </gazebo>

  <!-- Gazebo configurations for references -->
  <gazebo reference="base_link">
    <material>Gazebo/Silver</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
  </gazebo>

  <gazebo reference="first-bracket-motor_1">
    <material>Gazebo/Silver</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <selfCollide>true</selfCollide>
  </gazebo>

  <link name="base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/> <!-- Adjust as per actual mass properties -->
      <mass value="0.06752363433035656"/> <!-- Placeholder, adjust as necessary -->
      <inertia ixx="4e-05" ixy="0.0" ixz="0.0" iyy="3.8e-05" iyz="0.0" izz="5.9e-05"/> <!-- Placeholder, adjust as necessary -->
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://dof_arm/meshes/base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://dof_arm/meshes/base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="first-bracket-motor_1">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/> <!-- Adjust as per actual mass properties -->
      <mass value="0.050669759178187244"/> <!-- Placeholder, adjust as necessary -->
      <inertia ixx="1.4e-05" ixy="0.0" ixz="0.0" iyy="9e-06" iyz="0.0" izz="1.5e-05"/> <!-- Placeholder, adjust as necessary -->
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="-0.00025 -0.06875 -0.0409"/>
      <geometry>
        <mesh filename="package://dof_arm/meshes/shoulder_rotation.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.00025 -0.06875 -0.0409"/>
      <geometry>
        <mesh filename="package://dof_arm/meshes/shoulder_rotation.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="shoulder_to_elbow">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/> <!-- Adjust as per actual mass properties -->
      <mass value="0.05261369068977079"/> <!-- Placeholder, adjust as necessary -->
      <inertia ixx="7e-05" ixy="0.0" ixz="0.0" iyy="7.2e-05" iyz="0.0" izz="1.1e-05"/> <!-- Placeholder, adjust as necessary -->
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="-0.01945 -0.06895 -0.05515"/>
      <geometry>
        <mesh filename="package://dof_arm/meshes/shouler_to_elbow.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.01945 -0.06895 -0.05515"/>
      <geometry>
        <mesh filename="package://dof_arm/meshes/shouler_to_elbow.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="elbow_to_wrist_reference">
    <inertial>
      <origin rpy="0 0 0" xyz="0.01951468809363352 0.026076660011439212 2.3261768583027198e-05"/>
      <mass value="0.02059907441055582"/> <!-- Placeholder, adjust as necessary -->
      <inertia ixx="3e-06" ixy="0.0" ixz="0.0" iyy="3e-06" iyz="0.0" izz="5e-06"/> <!-- Placeholder, adjust as necessary -->
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0143 -0.08375 -0.16345"/>
      <geometry>
        <mesh filename="package://dof_arm/meshes/elbow_to_wrist_extension.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0143 -0.08375 -0.16345"/>
      <geometry>
        <mesh filename="package://dof_arm/meshes/elbow_to_wrist_extension.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="gripper_static_part">
    <inertial>
      <origin rpy="0 0 0" xyz="0.005421565533833407 0.019034667992307075 0.00011281388318701291"/>
      <mass value="0.030801959916802346"/> <!-- Placeholder, adjust as necessary -->
      <inertia ixx="9e-06" ixy="-2e-06" ixz="0.0" iyy="6e-06" iyz="0.0" izz="1.1e-05"/> <!-- Placeholder, adjust as necessary -->
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.000893 -0.128688 -0.163437"/>
      <geometry>
        <mesh filename="package://dof_arm/meshes/gripper_static_part.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.000893 -0.128688 -0.163437"/>
      <geometry>
        <mesh filename="package://dof_arm/meshes/gripper_static_part.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="gripper_moving_part">
    <inertial>
      <origin rpy="0 0 0" xyz="0.001094897934895013 0.025115003984107043 -0.01445125352746443"/>
      <mass value="0.013583445641331692"/> <!-- Placeholder, adjust as necessary -->
      <inertia ixx="4e-06" ixy="0.0" ixz="0.0" iyy="2e-06" iyz="0.0" izz="3e-06"/> <!-- Placeholder, adjust as necessary -->
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.008443 -0.141678 -0.177687"/>
      <geometry>
        <mesh filename="package://dof_arm/meshes/gripper_moving_part.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.008443 -0.141678 -0.177687"/>
      <geometry>
        <mesh filename="package://dof_arm/meshes/gripper_moving_part.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="Revolute 2" type="continuous">
    <origin rpy="0 0 0" xyz="0.00025 0.06875 0.0409"/>
    <parent link="base_link"/>
    <child link="first-bracket-motor_1"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit effort="5.0" velocity="1.5"/>
  </joint>

  <joint name="Revolute 3" type="continuous">
    <origin rpy="0 0 0" xyz="0.0192 0.0002 0.01425"/>
    <parent link="first-bracket-motor_1"/>
    <child link="shoulder_to_elbow"/>
    <axis xyz="1.0 0.0 0.0"/>
    <limit effort="5.0" velocity="1.5"/>
  </joint>

  <joint name="Revolute 4" type="continuous">
    <origin rpy="0 0 0" xyz="0.03375 0.0 0.05"/> <!-- Placeholder origin, adjust as necessary -->
    <parent link="shoulder_to_elbow"/> <!-- Adjust based on the kinematic structure -->
    <child link="elbow_to_wrist_reference"/> <!-- Specify the correct child link -->
    <axis xyz="1.0 0.0 0.0"/> <!-- Specify the rotation axis -->
    <limit effort="5.0" velocity="1.5"/> <!-- Adjust limits if needed -->
  </joint>

  <joint name="Revolute 5" type="continuous">
    <origin rpy="0 0 0" xyz="-0.03375 0.0148 0.1083"/>
    <parent link="elbow_to_wrist_reference"/>
    <child link="gripper_static_part"/>
    <axis xyz="1.0 -0.0 0.0"/>
    <limit effort="5.0" velocity="1.5"/>
  </joint>

  <joint name="Revolute 6" type="continuous">
    <origin rpy="0 0 0" xyz="0.013407 0.044938 -1.3e-05"/>
    <parent link="gripper_static_part"/>
    <child link="gripper_moving_part"/>
    <axis xyz="-0.0 -1.0 0.0"/>
    <limit effort="5.0" velocity="1.5"/>
  </joint>

  <joint name="Revolute 7" type="continuous">
    <origin rpy="0 0 0" xyz="-0.00755 0.01299 0.01425"/>
    <parent link="gripper_static_part"/>
    <child link="gripper_moving_part"/>
    <axis xyz="-0.0 -0.0 -1.0"/>
    <limit effort="5.0" velocity="1.5"/>
  </joint>
</robot>
